@import "tailwindcss";

*{
  box-sizing: border-box;
}

body{
  font-family: 'Work Sans';
}

.cc-3{
  column-count: 3;
}

@media only screen 
   and (max-width : 768px) {
   .cc-3{
    column-count: 1;
   }
}